<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div> It's test task</div>
<table>
<a href="/categories"><button type="submit">Categories</button></a>
<a href="/products"><button type="submit">Product catalog</button></a>
</table>
</body>
</html>